---
const { title, subTitle, conference, link, subtitleLink, note, video } =
  Astro.props;
import AnimatedLink from "./AnimatedLink.astro";
---

<div
  class="article-card text-sm md:text-md lg:text-lg xl:text-xl flex flex-col border-2 text-center border-gray-200 dark:border-gray-600 rounded-lg p-6 transition-all duration-300 ease-in-out hover:shadow-lg md:p-8"
>
  <div class="flex-grow flex flex-col justify-center items-center mb-6">
    <h3 class="text-center text-gray-800 dark:text-gray-100 mb-2">
      <AnimatedLink
        href={link}
        className="text-gray-800 dark:text-gray-100 hover:text-blue-600 dark:hover:text-blue-400"
      >
        {title}
      </AnimatedLink>
    </h3>
    {
      subTitle && (
        <h5 class="font-light text-center text-gray-600 dark:text-gray-300">
          {subtitleLink ? (
            <AnimatedLink
              href={subtitleLink}
              className="text-gray-800 dark:text-gray-100 hover:text-blue-600 dark:hover:text-blue-400"
            >
              {subTitle}
            </AnimatedLink>
          ) : (
            subTitle
          )}
        </h5>
      )
    }
    {
      video && (
        <div
          class="relative w-2/3 rounded-lg overflow-hidden"
          style="padding-top: 37.5%"
        >
          <iframe
            src="//player.bilibili.com/player.html?aid=1952417839&bvid=BV17C411b7Xw&cid=1484053748&p=1&as_wide=1&high_quality=1&danmaku=0"
            class="absolute top-0 left-0 w-full h-full"
            allowfullscreen={true}
            style={{ border: 0 }}
          />
        </div>
      )
    }
  </div>
  <hr class="border-gray-200 dark:border-gray-600" />
  <div class="flex justify-center items-center mt-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-1"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
      ></path>
    </svg>
    <span class="text-gray-700 dark:text-gray-200">{conference}</span>
  </div>
  {
    note && (
      <div class="flex justify-center mt-4">
        <p class="mild text-gray-500 dark:text-gray-400 text-sm italic">
          {note}
        </p>
      </div>
    )
  }
</div>
